.travel {
  padding-top: 112px;
  padding-bottom: 145px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 95px;
  }

  @include vp-767 {
    padding-bottom: 85px;
  }
}

.travel__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    align-items: flex-start;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.travel__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 512px;

  @include vp-1279 {
    width: 33vw;
  }

  @include vp-1023 {
    width: 42vw;
  }

  @include vp-767 {
    width: 100%;
  }
}

.travel h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 23px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
    width: 27vw;
    margin-bottom: 14px;
  }

  @include vp-767 {
    width: 60vw;
    font-size: 24px;
    line-height: 140%;
  }
}

.travel p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;

  @include vp-767 {
    margin-bottom: 46px;
  }
}

.travel img {
  display: block;

  @include vp-1023 {
    width: 324px;
    height: 175px;
    position: relative;
    z-index: -1;
  }

  @include vp-767 {
    width: 290px;
    height: 156px;
  }
}
